body { 
  font-family: Helvetica; 
  color: white;
}

/*header */

#header { 
  margin-top: 2em; 
  margin-bottom: 5em; 
}

#header h1 { 
  color: #818285; 
}

.rheumatology-header { 
  padding-left: 0; 
  margin-top: 0.8em; 
}

.logo img { 
  float: right; 
}

/*end header */

/*login box */

#login-box-section {
  margin-bottom: 12em; 
}

.login-text-left { 
  height: 15em;
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
  padding-top: 2em; 
  background-image: url("../images/graphic/login-graphic.png"); 
  background-color: #12a1a6; 
  background-attachment: fixed; 

}

.login-form-right { 
  background-color: #127f82; 
  height: 15em;
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  padding-top: 0.8em; 
  text-align: center; 
}



.login-text-left p {
  margin: 1.5em;
}

.login-form-right p {
  margin: 1.5em; 
}


.login-form-right #login-button { 
  margin-top: 1em;

}

.login-form-right #login-form { 
  margin-bottom: 0; 
}

.login-form-right #error-message { 
  color: red;
  margin-top: 0.5em; 
}

/*end login box */

/*welcome/biography boxes */

#welcome {
  margin-bottom: 2em; 

}

#welcome #welcome-text {
  background-color: #818285; 
  border-radius: 5px;
  min-height: 27em;
  background-image: url("../images/graphic/welcome-graphic.png");
}


#welcome #biography {
  background-color: #3bbb98; 
  border-radius: 5px; 
  min-height: 27em;
  background-image: url("../images/graphic/bio-graphic.png");

}

#welcome #biography #biography-text {
  height: 100%;
  margin-top: 1.5em; 
}

#welcome #biography #biography-image {
  height: 100%; 
  text-align: center; 
  margin-top: 3.5em; 
}



#welcome #biography #biography-image img {
  border: 3px solid white;  
  /*margin-left: auto; */
  /*margin-right: auto; */

}


/*end welcome/biography boxes */

/*Professor answers questions boxes */

#answer-questions {
  margin-bottom: 2em;
}

#answer-questions #professor-images {
  border-radius: 5px; 
  padding: 0;
  margin: 0; 
  height: 100%; 
  height: 28em;

}


#answer-questions #professor-videos {
  background-color: #12a1a6; 
  background-image: url("../images/graphic/video-graphic.png");
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  height: 28em;

  
}

#answer-questions #professor-images #bottom-bar-left {
  background-color: #127f82; 
  height: 18%;
  width: 100%; 
  opacity: 0.5; 
  position: absolute;
  left: 0;
  bottom: 0; 
  z-index: 100; 
}

#answer-questions #professor-videos #bottom-bar-right {
  background-color: #127f82; 
  height: 18%;
  width: 100%; 
  position: absolute;
  left: 0;
  bottom: 0; 
  border-bottom-right-radius: 5px; 

}

#answer-questions #professor-videos p {
  font-size: 16px; 
  margin-left: 2em; 
  margin-top: 1.5em; 
  margin-bottom: 1.5em; 
}

#answer-questions div.item {
  height: 28em;
  background-size: cover; 
  background-position: center;
  /*z-index: 0; */
  
}

#answer-questions #professor-images #carousel-video-1 {
  background-image: url("../images/Prof_Calabrese_2.jpg");


}

#answer-questions #professor-images #carousel-video-2 {
  background-image: url("../images/Prof_Calabrese_3.jpg");

}

#answer-questions #professor-images #carousel-video-3 {
  background-image: url("../images/Prof_Calabrese_4.jpg");

}

#answer-questions #professor-videos #more-videos-icon {
  position: absolute;
  right: 1.5em;
  bottom: 1em;
}



/*end Professor answers questions boxes */

 /*survey */

#survey-row {
  margin-bottom: 2em; 
  height: 15em;
  border-radius: 5px; 
  background-color: #7ebe78; 
  background-image: url("../images/graphic/survey-graphic.png");

}

#survey #survey-icon {
  text-align: center; 
  margin-top: 4em; 
}

#survey-row p {
  margin-bottom: 2em; 
  margin-top: 1em; 
}


 /*end survey */

 /*slide presentation */

#presentation-section {
  min-height: 28em;
  background-color: #3bbb98; 
  background-image: url("../images/graphic/presentation-graphic.png");
  text-align: center; 
  border-radius: 5px; 
  padding-bottom: 1em; 
  margin-bottom: 5em; 

}

#presentation-section p {
  font-size: 15px; 
  margin-top: 1em; 
}

#presentation-section div.item {
  min-height: 18em;
  background-size: cover; 
  background-position: center;
  margin-bottom: 1em;
  margin-top: 0.5em; 
  
}

#presentation-section #carousel-CNS #carousel-CNS-1 {
  background-image: url("../images/CNS_carousel_slides/CNS_1.png");
}

#presentation-section #carousel-CNS #carousel-CNS-2 {
  background-image: url("../images/CNS_carousel_slides/CNS_2.png");
}

#presentation-section #carousel-CNS #carousel-CNS-3 {
  background-image: url("../images/CNS_carousel_slides/CNS_3.png");
}

#presentation-section #carousel-CNS #carousel-CNS-4 {
  background-image: url("../images/CNS_carousel_slides/CNS_4.png");
}

#presentation-section #carousel-Viral #carousel-Viral-1 {
  background-image: url("../images/Viral_Infection_carousel_slides/Viral_Inf_1.png");
}

#presentation-section #carousel-Viral #carousel-Viral-2 {
  background-image: url("../images/Viral_Infection_carousel_slides/Viral_Inf_2.png");
}

#presentation-section #carousel-Viral #carousel-Viral-3 {
  background-image: url("../images/Viral_Infection_carousel_slides/Viral_Inf_3.png");
}


 /*end slide presentation */

 /*video page */

 /*back-to-home-bar */

  
 #video-page #back-to-home-bar {
  height: 4em;
  background-color: #e2e3e4; 
  border-radius: 5px; 
  margin-bottom: 4em; 
 }

 #video-page #back-to-home-bar #back-arrow {
  margin-left: 1em; 
  margin-top: 1.4em; 
 }

 #video-page #back-to-home-bar a {
  font-size: 16px; 
  color: #818285; 
 }

 /*video section */

 #video-page #video-section {
    min-height: 28em;
    background-color: #12a1a6; 
    border-radius: 5px; 
    margin-bottom: 10em; 
    background-image: url("../images/graphic/video-graphic.png");

 }

#video-page #video-section h3 {
  text-align: center; 
  margin-top: 1em;
  margin-bottom: 1em;  
}

#video-page #video-section .single-video {
  background-color: #666666; 

}

#video-page #video-section .other-videos {
  width: 132px;
  height: 68px; 
  border: 4px solid white;

}

#video-page #video-section .main-video {
  width: 652px;
  height: 328px;
  margin-top: 2em; 
  border: 4px solid #9ed2ac; 
}

#video-page #video-section .other-videos-section {
  overflow-y: scroll;
  height: 28em;
}

#video-page #video-section .other-videos-section .active {
  border-color: #9ed2ac; 
}

#video-page #video-section .other-videos-section p {
  font-size: 16px; 
  width: 80%; 
}

#video-page #video-section .other-videos-section div.row {
  margin-bottom: 2em; 
}


#video-page #video-section i {
  position: absolute;
  z-index: 10;

}

#video-page #video-section .other-videos-section i {
  top: 40%;
  left: 45%;

}

#video-page #video-section .main-video-section i {
  top: 40%;
  left: 48%;
}

 /*end video page */

 /*terms */

 #terms h4 {
  color: #64BD75;
  font-weight: bold; 
  margin-bottom: 1em; 
 }

 #terms p {
  color: #818285;
  font-size: 12px; 
 }

 #terms .row {
  margin-bottom: 5em; 
  margin-top: -4em; 
 }


 /*end terms */

  /*privacy */

 #privacy h4 {
  color: #64BD75;
  font-weight: bold; 
  margin-bottom: 1em; 
 }

  #privacy h6 {
  color: #818285;
  font-weight: bold; 
  margin-bottom: 1em; 
  margin-top: 1.5em; 
  font-size: 14px; 
 }

 #privacy p, #privacy li {
  color: #818285;
  font-size: 12px; 
 }

 #privacy .row {
  margin-bottom: 5em; 
  margin-top: -4em; 
 }

 #privacy div.row div.col-md-12 p a {
  text-decoration: underline; 
  color: blue;
  font-size: 12px; 

 }


 /*end privacy */


 /*contact */

 #contact h4 {
  color: #64BD75;
  font-weight: bold; 
  margin-bottom: 1em; 
 }

  #contact h6 {
  color: #818285;
  font-weight: bold; 
  margin-bottom: 1em; 
  margin-top: 1.5em; 
  font-size: 14px; 
 }

 #contact p, #contact li {
  color: #818285;
  font-size: 12px; 
 }

 #contact .row {
  margin-bottom: 5em; 
  margin-top: -4em; 
 }

 #contact div.row div.col-md-12 p a {
  text-decoration: underline; 
  color: blue;
  font-size: 12px; 

 }


 /*end contact */


/*footer */


#footer { 
 font-size: 10px; 
 color: #818285;

}

#footer-text { 
  margin-top: 0.5em; 

}

#footer a { 
  color: #818285;
  text-decoration: underline; 

}

#footer-links { 
 border-top: 1px solid #818285; 
 padding-top: 2em; 

}


#footer-image img { 
  width: 80%;

}

/*end footer */

/*flip*/

.flippable {
  -webkit-transition: -webkit-transform .6s;
  -moz-transition: -moz-transform .6s;
  -ms-transition: -ms-transform .6s;
  -o-transition: -o-transform .6s;
  transition: transform .6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.flipped {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg); }

.unflipped {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg); }

/*end flip */

/*general stylistic elements */


.warning {
  border: 1px solid red;
  font-size: 12px; 

}

.warning::-webkit-input-placeholder { /* WebKit browsers */
    color:    red;
}

.warning:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    red;
   opacity:  1;
}
.warning::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    red;
   opacity:  1;
}

.warning:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    red;
}

span.italic {
  font-style: italic;
}

span.bold {
  font-weight: bold;
}


/*end general stylistic elements */