body { 
  font-family: Helvetica; 
  color: white;

}

/*header */

#header { 
  margin-top: 2em; 
  margin-bottom: 5em; 

}

#header h1 { 
  color: #808285; 

}

.rheumatology-header { 
  padding-left: 0; 
  margin-top: 0.8em; 

}

.logo img { 
  float: right;
  
}

/*end header */

/*login box */

.login-text-left { 
  height: 15em;
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
  padding-top: 2em; 
  background-image: url("../images/graphic/login-graphic.png"); 
  background-color: #12a1a6; 
  /*background-position: center; */
  background-attachment: fixed; 


}

.login-form-right { 
  background-color: #127f82; 
  height: 15em;
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  padding-top: 0.8em; 
  text-align: center; 


}



.login-text-left p {
  margin: 1.5em;

}

.login-form-right p {
  margin: 1.5em; 
}


.login-form-right #login-button { 
  margin-top: -10em;

}

.login-form-right #login-form { 
  margin-bottom: 0; 
}

.login-form-right #error-message { 
  color: red;
  margin-top: 0.5em; 

}

/*end login box */

/*welcome/biography boxes */

#welcome {
  margin-bottom: 2em; 

}

#welcome #welcome-text {
  background-color: #808285; 
  border-radius: 5px;
  height: 27em;
  background-image: url("../images/graphic/welcome-graphic.png");
  vertical-align: middle; 
}

#welcome #biography {
  background-color: #3bbb98; 
  border-radius: 5px; 
  height: 27em;
  background-image: url("../images/graphic/bio-graphic.png");

}

#welcome #biography #biography-image {
  height: 100%; 
  text-align: center;  
}

#welcome #biography #biography-text {
  height: 100%;
  vertical-align: middle; 
  
}

#welcome #biography #biography-image img {
  border: 3px solid white;  
  margin-top: 2.5em; 

}


/*end welcome/biography boxes */

/*Professor answers questions boxes */

#answer-questions {
  margin-bottom: 2em;
}

#answer-questions #professor-images {
  border-radius: 5px; 
  padding: 0;
  margin: 0; 
  height: 100%; 

}

#answer-questions #professor-videos {
  background-color: #12a1a6; 
  background-image: url("../images/graphic/video-graphic.png");
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  
}

#answer-questions #professor-videos p {
  font-size: 16px; 
  margin-left: 2em; 
}

#answer-questions #professor-images #image-carousel-1 {
  background-image: url("../images/Prof_Calabrese_2.jpg");

}

#answer-questions #professor-images #image-carousel-2 {
  background-image: url("../images/Prof_Calabrese_3.jpg");

}

#answer-questions #professor-images #image-carousel-3 {
  background-image: url("../images/Prof_Calabrese_4.jpg");

}



/*end Professor answers questions boxes */

 /*survey */

#survey-row {
  margin-bottom: 2em; 
  height: 20em;
  border-radius: 5px; 
  background-color: #7ebe78; 
  background-image: url("../images/graphic/survey-graphic.png");

}

#survey #survey-icon {
  text-align: center; 
  margin-top: 4em; 
}




 /*end survey */

/*footer */


#footer { 
 font-size: 10px; 
 margin-top: 15em;  
 color: #808285;

}

#footer-text { 
  margin-top: 0.5em; 

}

#footer a { 
  color: #808285;
  text-decoration: underline; 

}

#footer-links { 
 border-top: 1px solid #808285; 
 padding-top: 2em; 

}



#footer-image img { 
  width: 80%;

}

/*end footer */

/*general stylistic elements */


span.italic {
  font-style: italic;
}

span.bold {
  font-weight: bold;
}

/*end general stylistic elements */